*{
    padding: 0px;
    margin: 0px;
}
.header{
    width:100%;
    height:40px;
    /* background-color: red; */
    
   
}
.header_container{
    justify-content: space-between;
}
.container{
    width:80%;
    height:40px;
    background-color: black;
    margin-left: 10%;
    display: flex;
    /* justify-content: space-b; */
    align-items: center;
    
}
.logo{
    width: 20%;
    height:40px;
    /* background-color: rgb(0, 255, 234); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight:700;
    text-align: center;
    color:rgb(252, 145, 6);
    line-height: 40px;
    
}
.navigation{
    margin-right: 150px;
    width:40%;
    /* background-color: blue; */
    
}
.nav{
    list-style-type: none;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
} 
.nav-link{
    /* width:12%; */
    height:60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color:white;
    text-align: center;
    line-height: 60px;
}
.nav_1{
    color:gold;
}
/* css for section page */
.total{
    height:300px;
    width:100%;
    /* background-color: black; */
   
}
.total_in{
    height:300px;
    width:80%;
    background-color:rgb(0, 0, 0);; 
    /* background-color: rgb(123 112 112 / 63%); */
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    column-gap: 150px;
    
    
}
.att{
    padding:10px 0px;
}
.about_me{
    
    width:20%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 16px;
    
    background-color:rgb(0, 0, 0);
    padding: 100px  100px;
    color:white;
    margin-left: 10px;
    
    
   
}
.image{
    display: flex;
    background-image: url('./images/IMG_20220316_190700.jpg');
    /* width:40%; */
    width:30%;
    /* background-color:black; */
    background-size: cover;
    background-position: 10px -50px ;
    height: 300px;
    border-radius: 200px;   
    border: 1px solid #00f6fb; 
}
.btn{
    height: 30px;
    width: 80px;
    background-color:rgb(252, 165, 5);
    font-size: 15px;
    color: rgb(243, 243, 243);
    border-radius: 5px;
    font-weight: bold;

    
}
.cards{
    width:100%;
    height:400px;
    /* background-color: red; */
}
.container_cards{
    height:400px;
    width:80%;
    background-color:grey;
    margin-left: 10%;
    display: flex;
    column-gap: 3.3%; 
    background-color: black;
}
.card_1{
    width:30%;
    height:375px;
    background-color: rgba(0, 0, 0,0.5);
    font-family: cursive;
    margin-left: 10px;
}
.a,.b{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    
}
.b{
    font-size: 18px;
    color:white;
}
.color{
    color:orange;
}
.card_title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color:rgb(250, 123, 3);
    margin-bottom: 10px; 
}
.resume{
    color:white;
}
.card_last{
   padding-top: 150px;
}
.new{
   text-decoration: none;
   color: white;
   
}